.netliva_true_false + ol .netliva-switch label { white-space: nowrap; }
.netliva_true_false + ol .netliva-switch { position: absolute; right: 10px; top: 4px; }
.netliva_true_false + ol li { padding: 5px 5px 5px 9px; position: relative; background-color: #fafafa; border-bottom: 1px dotted #ddd; border-top: 1px dotted #ddd; margin-top: -1px; }
.netliva_true_false + ol li label { padding:0; margin:0;  }
.netliva_true_false + ol li:hover { background-color: #f5f5f5;  }
.netliva_tf_sortable + ol li .sortableHandle {
	display: inline-block; height: 18px; left: 8px; position: absolute; top: 6px; width: 10px; cursor: pointer;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAK0lEQVQImU3BsQ0AIAzAsJQP6LOw8W77QiYmJGzWPlWtqlHVQOYEQuUZfC5ylQ/k72kMAwAAAABJRU5ErkJggg==");
}
.netliva_true_false[data-sortable='1'] + ol li { padding-left:26px; }
